# Env files
.env
*.env
backend/.env

# Node modules
backend/node_modules/
frontend/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS / extra metadata
*.Zone.Identifier
